<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}" />
<title>Bazar Nova Vida</title>
</head>

<body>

	<div class="container">
		<nav
			class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a href="/" class="nav-item nav-link">Bazar</a> <a
					class="nav-item nav-link">Meus pedidos</a> <a
					href="/item/formulario" class="nav-item nav-link">Novo item</a>
			</div>
		</nav>


		<div class="card mb-3 card-item">
			<h2 class="item__nome" th:text="${item.nomeDoItem}"></h2>
			<img class="item-img img-thumbnail"
				th:src="${item.imgUrl}" /></a>
				<h3 class="item__preco" th:if="${item.valorDoItem} != null"
					th:text="${'R$ ' + #numbers.formatDecimal(item.valorDoItem, 2, 'POINT', 2, 'COMMA')}"></h3>
			<p class="item__descricao" th:text="${item.descricaoDoItem}"></p>
				
		</div>
	</div>

</body>

</html>