<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<title>Cadastro</title>
</head>
<body>

	<div class="container">



		<div class="card mt-3">
			<h3 style="font-weight: bold; padding: 1%;"
				class="card-title text-center">Cadastro</h3>
			<form th:object="${novoUsuario}" class="formulario card-body"
				action="/usuario/novo" method="POST">
				<div class="form-group">
					<label for="cpf"></label> <input th:field="*{cpf}"
						th:errorClass="is-invalid" class="form-control" placeholder="CPF" />
					<small>Informe o seu CPF.</small>
					<div class="invalid-feedback" th:errors="*{cpf}">Erros do CPF
						do usuário</div>
				</div>

				<div class="form-group">
					<label for="nomeDoUSuario"></label> <input
						th:field="*{nomeDoUSuario}" th:errorClass="is-invalid"
						class="form-control" placeholder="Nome" /> <small>Informe
						o seu nome.</small>
					<div class="invalid-feedback" th:errors="*{nomeDoUSuario}">
						Erros do nome do usuário</div>
				</div>

				<div class="form-group">
					<label for="senha"></label> <input th:field="*{senha}"
						th:errorClass="is-invalid" type="password" class="form-control"
						placeholder="Senha" /> <small>Informe uma senha.</small>
					<div class="invalid-feedback" th:errors="*{senha}">Erros da
						senha do usuário</div>
				</div>
				<div class="text-center">
					<button class="btn btn-primary" type="submit">Cadastrar</button>
				</div>
				<div class="text-center">
					<small>Já possui uma conta? Clique <a
						href="/login/formulario">aqui</a></small>
				</div>
			</form>
		</div>
	</div>
</body>
</html>