<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}" />
<title>Bazar Nova Vida</title>
</head>

<body>

	<div class="container mb-3">
		<nav
			class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a href="/" class="nav-item nav-link">Bazar</a> <a
					class="nav-item nav-link">Meus pedidos</a> <a
					href="/item/formulario" class="nav-item nav-link">Novo item</a>


			</div>

		</nav>
	</div>
	<h2 style="text-align: center;">Carrinho</h2>
	<div class="container">
		<div class="justify-content-md-center row">
			<div class="col container-carrinho">
				<div class="card" th:each="item : ${session.carrinho}">
					<div style="text-align: center;">
						<span
							style="font-weight: bold; font-size: 1.4rem; text-align: center;"
							th:text="${item.nomeDoItem}"></span>
					</div>
					<div>
						<img class="img-thumbnail img-fluid" th:src="${item.imgUrl}" />
					</div>
					<div style="text-align: center;" class="">
						<span th:if="${item.valorDoItem} != null"
							th:text="${'R$ ' + #numbers.formatDecimal(item.valorDoItem, 2, 'POINT', 2, 'COMMA')}"></span>
					</div>
				</div>
			</div>
			<div class="col" style="text-align: center">
				<div class="card">
					<h3 style="border-bottom: #dbdbdb 3px solid;">Informações do
						pedido</h3>
					<div class="pedido__info" th:each="item : ${session.carrinho}">
						<div>
							<span style="border-bottom: #e7e7e7 2px solid;" th:text="${item.nomeDoItem +' '+ '(R$ '+ #numbers.formatDecimal(item.valorDoItem, 2, 'POINT', 2, 'COMMA')+')'}"></span>
						</div>

					</div>

					<span style="border-top: #dbdbdb 3px solid;"
						th:text="${'Total: R$ ' + #numbers.formatDecimal(session.totalPedido, 2, 'POINT', 2, 'COMMA')}"></span>
				</div>
			</div>
		</div>

	</div>
</body>

</html>