<!DOCTYPE html>


<html>


<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}" />
<title>Bazar Nova Vida</title>
</head>

<body>
	<header>
		<div class="container mb-3">
			<nav
				class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a href="/" class="nav-item nav-link">Bazar</a> <a class="nav-item nav-link">Meus
						pedidos</a> <a
						th:if="${session.usuarioLogado} != null and ${session.usuarioLogado.tipoDeUsuario} == ${T(com.moriartynho.BazarNovaVida.models.usuario.TipoDeUsuario).ADMINISTRADOR}"
						href="/item/formulario" class="nav-item nav-link">Novo item</a>


				</div>
				<div>
					<a href=""> <span th:if="${session.usuarioLogado} != null"
						th:text="${session.usuarioLogado.primeiroNome}"> </span>
					</a> <a href="/login/formulario"> <span
						th:if="${session.usuarioLogado} == null">Entrar </span>
					</a> <a th:href="@{/pedido/carrinho}"><img class="carrinho__icone"
						alt="" src="https://img.icons8.com/?size=512&id=85080&format=png">
					</a>

				</div>

			</nav>
		</div>
	</header>
	<main>
		<h2 class="text-center">Pedidos</h2>
		<div class="container" style="display: flex;justify-content: center;">
			<div class="pedido_container justify-content-md-center">

				<div class="card" th:each="pedido : ${session.meusPedidos}">
					<div class="card-body pedidos">
						<a href="#"><span
							th:text=" 'Pedido Nº: ' + ${pedido.formatedId} + ' (' + ${pedido.estadoDoPedido + ')'}"></span></a>
						<span
							th:text="${#temporals.format(pedido.dataDoPedido, 'dd/MM/yyyy HH:mm')}"></span>
						<span
							th:text="${'R$ ' + #numbers.formatDecimal(pedido.valorDoPedido, 2, 'POINT', 2, 'COMMA')}"></span>

						<div th:each="item : ${pedido.itens}">
							<img class="img-thumbnail img-fluid"
								th:src="@{'/imagem/' + ${item.imagem.id}}"></img>
						</div>
					</div>
				</div>

			</div>
		</div>

	</main>
</body>
</html>