@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.item-img-home {
	max-width: 60%;
}

body {
	background-color: #ededed;
	margin: 0;
}

.item-home {
	justify-content: center;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
}

.item-img {
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
	padding: 0.25rem;
	margin-top: 0.9rem;
}

.card-item {
	align-items: center;
	gap: 5px;
}

.item__nome {
	font-size: 3rem;
	font-weight: bold;
}

.item__preco {
	font-size: 2rem;
	font-weight: 400;
}

.item__descricao {
	font-size: 1.2rem;
	font-weight: 400;
}

.col-8 {
	margin-top: 10%;
}

.itens__home {
	display: flex;
	max-width: 220px;
}

.itens__ {
	display: flex;
}

.card-body {
	text-align: center;
}

.justify-content-md-center {
	gap: 1px;
}

.img-thumbnail {
	max-height: 180px;
	width: auto;
	height: auto;
}

.row {
	justify-content: center;
}

.item-container {
	justify-content: center;
	border: #dee2e6 1px solid;
	padding: 1rem;
	margin-bottom: 15px;
	border-radius: 0.25rem;
	width: 95%;
}

.item_desc_preco {
	margin-top: 1rem;
}

.btn__carrinho {
	width: 102%;
}

.carrinho__icone {
	max-height: 30px;
	width: auto;
	height: auto;
	margin-left: 10px;
}

.container-carrinho {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.pedido__info {
	display: flex;
	padding: 0.15rem;
	justify-content: center;
}

.formulario {
	padding: 2%;
}